@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "variable";

html{
  font-size:16px;
}

body{
  padding:0;
  margin:0; 
  font: 300 1rem/1.4 'Kanit';
}

header{
  background:#000;
  color:#fff;
  text-align: right;
  

  .port-name{
    font-size:5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald';
    border-bottom:1px solid #ccc;

    span{
      display: block;
      line-height: 1.2;

      &:nth-child(1){

      }

      &:nth-child(2){
        color:$themcolor1;
      }
    }
  }

  .port-position{
    font-family: 'Oswald';
    margin:10px 0 0 0;
    font-size:1.2rem;
  }
}